<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/stylesheets/slide.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>Slides</title>
</head>
<body>
  <section>
    <div class="slide1">
      <div class="arrow1">
        <span class="material-icons back">keyboard_arrow_left</span>
        <span class="material-icons forward">keyboard_arrow_right</span>
      </div>
      <img src="https://cdn.pixabay.com/photo/2016/09/08/21/09/piano-1655558_1280.jpg" alt="img1" id="img1">
      <img src="https://cdn.pixabay.com/photo/2014/06/04/17/53/piano-362251_1280.jpg" alt="img2" id="img2">
      <img src="https://cdn.pixabay.com/photo/2016/11/18/15/54/apartment-1835482_1280.jpg" alt="img3" id="img3">
      <img src="https://cdn.pixabay.com/photo/2021/04/17/16/01/book-6186166_1280.jpg" alt="img4" id="img4">
      <img src="https://cdn.pixabay.com/photo/2016/09/16/15/56/manhattan-1674404_1280.jpg" alt="img5" id="img5">
      <img src="https://cdn.pixabay.com/photo/2016/07/16/22/32/piano-1522855_1280.jpg" alt="img6" id="img6">
      <img src="https://cdn.pixabay.com/photo/2015/09/15/11/21/victorian-940805_1280.jpg" alt="img7" id="img7">
    </div>
    <div class="slide2">
      <div class="arrow2">
        <span class="material-icons back">arrow_back_ios</span>
        <span class="material-icons forward">arrow_forward_ios</span>
      </div>
      <div class="img-box">

      </div>

    </div>
    <div class="slide3">
      <div class="arrow3">
        <span class="material-icons back">arrow_back_ios</span>
        <span class="material-icons forward">arrow_forward_ios</span>
      </div>
      <img src="https://cdn.pixabay.com/photo/2016/09/08/21/09/piano-1655558_1280.jpg" alt="img1">
      <img src="https://cdn.pixabay.com/photo/2014/06/04/17/53/piano-362251_1280.jpg" alt="img2">
      <img src="https://cdn.pixabay.com/photo/2016/11/18/15/54/apartment-1835482_1280.jpg" alt="img3">
      <img src="https://cdn.pixabay.com/photo/2021/04/17/16/01/book-6186166_1280.jpg" alt="img4">
      <img src="https://cdn.pixabay.com/photo/2016/09/16/15/56/manhattan-1674404_1280.jpg" alt="img5">
      <img src="https://cdn.pixabay.com/photo/2016/07/16/22/32/piano-1522855_1280.jpg" alt="img6">
      <img src="https://cdn.pixabay.com/photo/2015/09/15/11/21/victorian-940805_1280.jpg" alt="img7">
    </div>
    <div class="slide4">
      <div class="arrow4">
        <span class="material-icons back">arrow_back_ios</span>
        <span class="material-icons forward">arrow_forward_ios</span>
      </div>
      <img src="https://cdn.pixabay.com/photo/2016/09/08/21/09/piano-1655558_1280.jpg" alt="img1">
      <img src="https://cdn.pixabay.com/photo/2014/06/04/17/53/piano-362251_1280.jpg" alt="img2">
      <img src="https://cdn.pixabay.com/photo/2016/11/18/15/54/apartment-1835482_1280.jpg" alt="img3">
      <img src="https://cdn.pixabay.com/photo/2021/04/17/16/01/book-6186166_1280.jpg" alt="img4">
      <img src="https://cdn.pixabay.com/photo/2016/09/16/15/56/manhattan-1674404_1280.jpg" alt="img5">
      <img src="https://cdn.pixabay.com/photo/2016/07/16/22/32/piano-1522855_1280.jpg" alt="img6">
      <img src="https://cdn.pixabay.com/photo/2015/09/15/11/21/victorian-940805_1280.jpg" alt="img7">
    </div>
  </section>

  <script src="../public/javascripts/slide.js"></script>
</body>
</html>